.switcher {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 24px;
  height: 24px;

  border-radius: 4px;

  border: 1px solid #9e9e9e;
  will-change: background-color;
  transition: background-color 0.2s ease-in-out;

  &.toggled {
    background-color: var(--primary);
    border-color: var(--primary);
    transition: background-color 0.2s ease-in-out;
  }

  &.error {
    border-color: var(--red);
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 8px;
}

.label {
  color: #212121;
  font-weight: 600;
  font-size: 16x;
  user-select: none;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    opacity: 0;
    visibility: hidden;

    pointer-events: none;
    transition: opacity, visibility 0.2s ease-in-out;
  }
  &.toggled {
    svg {
      opacity: 1;
      visibility: visible;

      pointer-events: all;
      transition: opacity, visibility 0.2s ease-in-out;
    }
  }
}

.errorText {
  margin-top: 6px;
  color: var(--red);
  font-weight: 600;
  font-size: 12px;
}
